@model RegistrationModel

@section Scripts
{
    <script src="~/cs/siteDesign.css"></script>
    <script src="~/js/site.js"></script>
    <partial name="_ValidationScriptsPartial"></partial>
}

<!DOCTYPE html>
<html>
<head>
    <title>Регистрация нового пользователя</title>
</head>
<body>
    <form method="post">
        <div class="container text-center my-1">
            <div class="border p-3 mt-5">
                <div class="mb-3 row p-1 ">
                    <h2 class="text-primary ">Create new user</h2>
                </div>

                <div class="mb-3 row p-1">
                    <label class="p-0">Login</label>
                    <input asp-for="Login" placeholder="Login" class="form-control" />
                    <span asp-validation-for=Login class="text-danger"> </span>
                </div>

                <div class="mb-3 row p-1">
                    <label class="p-0">Email</label>
                    <input asp-for=Email placeholder="Email" class="form-control" />
                    <span asp-validation-for=Email class="text-danger"> </span>
                </div>

                <div class="mb-3 row p-1">
                    <label class="p-0">Password</label>
                    <input asp-for="Password" id="passwordInput" placeholder="Password" type="password" class="form-control" /> @* привязка модели с тэг хелпером а точнее назначаем за что данное импут поле отвественно *@
                    <button type="button" id="togglePassword" A class="btn btn-secondary">Show</button>
                    <span asp-validation-for="Password" class="text-danger"></span>
                 
                </div>

                <div class="mb-3 row p-1">
                    <label class="p-0">Name</label>
                    <input asp-for=Name placeholder="Name" class="form-control" />
                    <span asp-validation-for=Name class="text-danger"> </span>
                </div>

                <div class="mb-3 row p-1">
                    <label class="p-0">Surname</label>
                    <input asp-for=Surname placeholder="Surname" class="form-control" />
                    <span asp-validation-for=Surname class="text-danger"> </span>
                </div>
                <div asp-validation-summary="ModelOnly"></div>


                <div class="row">
                    <div class="col">
                        <button type="submit" asp-controller="Account" asp-action="CreateUser" class="btn btn-primary form-control">Submit</button>
                    </div>
                    <div class="col">
                        <a asp-controller="Authorization" asp-action="Login" class="btn btn-secondary form-control">Cancel</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
</body>
</html>
